footer {
    background: #d33a2c#d33a2c#d33a2c;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footerbrowse {
    font-family: 'Arvo', sans-serif;
    color: white;
    font-size: 30px;
}

footerbrowse li::before {
    content: ' \25CF';
    color: black;
}

footerbrowse li {
    align-self: center;
    margin: 0 .25em 0 .25em;
    display: inline;
    top: 2px;
    font-size: 20px;
}

footerbrowse li:hover {
    color: black;
}

footerleft {
    width: 33%;
    float: left;
}

footermid {
    width: 34%;
    float: left;
}

footeright {
    width: 33%;
    float: right;
}

footeright img {
    display: block;
}

footermid footernotes {
    color: white;
}

footermid footerlink {
    display: inline;
    align-self: auto;
    color: white;
}

.image2 {
    display: none;
}

@media screen and (max-width:900px) {
    footerleft .image2 {
        display: block;
        width: 100%;
    }
    footerleft .image1 {
        display: none;
    }
    footeright img {
        display: none;
    }
}

content: ' \25CF';
color: black;